/*@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');*/
*{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}
body{
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    font-size: 62.7%;
    background: linear-gradient(to top left,rgba(125,53,121,1) 0%, rgba(186,47,59,1) 100%);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(200px);
    filter: blur();
    
}
main{
    display: flex;
    overflow: hidden;
    position: relative;
    color:cornsilk;
    height: 87vh;
    width:80vw
}

.player{
    position: relative;
    width: 50vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.7rem;
    color: #4e4545;
    transition: all 0.75s;
    background-color: rgb(255,255,255,0.3);
}
.player h1{
    position: relative;
    left: 50%;
    top: 16%;
    transform: translateX(-48%);
    
}
.score{
    position: absolute;
    left: 44%;
    top: 25%;
    font-size: 4.5rem;
}
img{position: absolute;
    width: 6rem;
    top: 11rem;
    left: 44%;}
 
    .btn{
    position: absolute;
    background: none;
    background-color: white;
    background-color: rgb(255, 255, 255,0.6);
    backdrop-filter: blur(10px);
    left:40%;
    padding: 0.7rem 2rem;
    border-radius: 50rem;
    border:none;
    transition: all 0.2s;
    font-size: 1.15rem;
   
    }
 /* 
    .btn {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        color: #444;
        background: none;
        border: none;
        font-family: inherit;
        font-size: 1.8rem;
        text-transform: uppercase;
        cursor: pointer;
        font-weight: 400;
        transition: all 0.2s;
      
        background-color: white;
        background-color: rgba(255, 255, 255, 0.6);
        backdrop-filter: blur(10px);
      
        padding: 0.7rem 2.5rem;
        border-radius: 50rem;
        box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
      }
     */  
   .btn:active{
       transform: translateX(-50%,3px); 
       box-shadow: 0 1.75rem 3.5rem rgb(0 0 0 / 10%);
    }
    /*test*/


.new{
   
    top:8%;
    }
.roll{
    
    top:68%;
}
.hold{
    top: 80%;
    left: 43%;
}
.current{position: absolute;
    background: #c7365f;
    padding: 1.5rem 3.5rem;
    left: 29%;
    top: 69%;
    border-radius: 0.5rem;
    color: #edc0c0;}
.player--0{
   
    border-radius: 0.7rem 0rem 0rem 0.7rem;
}
.player--1{
   
    border-radius: 0rem 0.7rem 0.7rem 0rem;
}

.btn:active {
    transform: translate(0%, 20%);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  }
  
  .btn:focus {
    outline: none;
  }
  
 @media (max-width:1020px) and (min-width:770px) { 
    main {
    height: 88vh;
    width: 94vw;
    }
    .player h1 {
    top: 16%;
    }
    .new {
    top: 3%;
    }
   .btn{
       font-size: 1rem;
       padding:0.5rem 1rem;
       left:42%
   }
   .hold{
       left:44%
   }
   .current {
    padding: 1.5rem 3.5rem;
    left: 22%;
   }
 }
@media (max-width:770px){
    main {
    height: 94vh;
    width: 97vw;
    }
   .btn{
       font-size: 1rem;
       padding:0.5rem 1rem;
   }
   .current {
    padding: 1rem 2rem;
    
   }
   .current-0{
    left: 20%;
   }
   .current-1{
    left: 32%;
   }
   img{
       left:42%;
   }
   .score{
       font-size: 3.5rem;
   }
}
@media (max-width:550px){
    main {
    height: 97vh;
    width: 99vw;
    }
    .btn{
       font-size: 1rem;
       padding:0.5rem 1rem;
   }
   
   .current {
    padding: 0.7rem 1rem;
    
   }
   .current-0{
    left: 10%;
   }
   .current-1{
    left: 44%;
   }
   .player{
       font-size: 1.3rem;
   }
   img{
       left:40%;
   }
   
}
.player--active{
    background-color: rgb(255,255,255,0.6);
    color:black
}
.player--winner {
    background-color: #2f2f2f;
  }
  
  .player--winner .name {
    font-weight: 700;
    color: #c7365f;
  }
  .hidden{
      display: none;
  }